

<dir class="container">
        <% if(errors) { %>
            <ul>
            <% Object.keys(errors).forEach(function(error){ %>
              <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <%=errors[error]%>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
           <% }) %>
            </ul>              
              <%  } %>    
</dir>

