
<%include header%>
  <!-- Landing -->
  <div class="landing">
    <div class="dark-overlay landing-inner text-light">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="display-3 mb-4">STORE101
            </h1>
            <p class="lead">Buy everything online</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% include footer %>
  <% include bottom %>

  